* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    color: #707070;
    font-family: 微软雅黑, 'Heiti SC', 黑体, Arial;
}

header {
    width: 100%;
    height: 48px;
    background: rgba(25, 25, 25, 0.6);
}

nav {
    margin: 0 auto;
    width: 95%;
    height: 48px;
    background: orange;
    overflow: hidden;

    >.logo {
        float: left;
        margin-top: 5px;
        line-height: 48px;
        img {
            width: 115px;
        }
    }

    >.nav-list {
        float: left;
        margin-left: 78px;
        height: 100%;
        li {
            float: left;
            line-height: 48px;
            a {
                padding: 12px 35px;
                color: #fff;
                font-size: 15px;
            }
        }
    }

    >.my {
        float: left;
        margin-top: 15px;
        margin-left: 19px;
        li {
            float: left;
            height: 16px;
            overflow: hidden;

            img {
                width: 15px;
            }
        }
    }
    >.show-list {
        float: right;
    }
}